<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-12 text-start">
                <h4 class="text-white mb-3">Quick Links</h4>
                <a class="btn btn-link" asp-area="" asp-controller="About" asp-action="Index">
                    About
                </a>
                <a class="btn btn-link" asp-area="" asp-controller="TermsAndConditions" asp-action="Index">
                    Terms &amp; Conditions
                </a>
                <a class="btn btn-link" asp-area="" asp-controller="Disclaimer" asp-action="Index">
                    Disclaimer
                </a>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <h4 class="text-white mb-3">Socials</h4>
                <div class="d-flex pt-2 justify-content-center">
                    <a class="btn btn-social" target="_blank" href="https://twitter.com/ApeDurden"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-social" target="_blank" href="https://www.youtube.com/ApeDurden"><i class="fab fa-youtube"></i></a>
                    <a class="btn-social btn" href="https://tylerdurden.substack.com/?utm_source=substack&utm_medium=web&utm_campaign=reader2?utm_source=%2Fsearch%2Ftyler%2520durden&utm_medium=reader2" target="_blank"><img id="substack-logo" src="https://paperstreetsoap.azureedge.net/site/substack-white.webp" alt="Substack logo" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-end">
                <a href="https://www.opennode.com" target="_blank"><img src="https://paperstreetsoap.azureedge.net/site/open-node-logo-light.webp" class="img-fluid w-25" id="btc-pay-server-image" alt="Open node server footer" /></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                    &copy; Paper Street Soap ltd.
                </div>
                <div class="col-md-8 text-end">
                    <div class="footer-menu">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->