@page "/forgot-password-confirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="px-5 py-5 wow zoomIn identity-container" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-4 text-center">
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
