@page "/forgot-password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="px-5 py-5 wow zoomIn identity-container" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-4">
            <h1>@ViewData["Title"]</h1>
            <h2>Enter your email.</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="mb-3 mt-3">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
