@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="container-xxl py-5 wow zoomIn identity-container" data-wow-delay="0.1s">
    <div class="container p-0">
        <div class="row g-4">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>

            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                    <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMachine" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMachine" />
                            @Html.DisplayNameFor(m => m.Input.RememberMachine)
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>

            <p>
                Don't have access to your authenticator device? <br />You can
                <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
            </p>
        </div>
    </div>
</div>