@page "/reset-password-confirmation"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="px-5 py-5 wow zoomIn identity-container" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-4 text-center">
            <h1>@ViewData["Title"]</h1>
            <p>
                Your password has been reset. <br />Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>