table th {
    background-color: #000000 !important;
    color: white;
    font-weight: normal !important;
    border: none;
    letter-spacing:3px;
    font-size:0.95rem;
}
table td {
    font-size: 0.9rem;
    vertical-align: middle;

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding:0px;
    cursor:pointer !important;
    font-size:0.8rem !important;
}
table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:after {
    color: white;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.55rem !important;
    font-size: 0.8rem !important;
}

table.dataTable.no-footer {
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}

div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {
    font-size: 0.8rem !important;
}

.dataTables_wrapper .dataTables_length select {
    border:1px solid #eaeaea !important;
    text-align:center;
    cursor:pointer;

}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #eaeaea !important;
    font-size:0.8rem;
}
