<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container tradingview-ticker-widget-container light-widget wow fadeInDown" data-wow-delay="0.1s">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>{
  "symbols": [
    {
      "description": "Bitcoin",
      "proName": "BITSTAMP:BTCUSD"
    },
    {
      "description": "Ethereum",
      "proName": "BITSTAMP:ETHUSD"
    },
    {
      "description": "ApeCoin",
      "proName": "BINANCE:APEUSDT"
    },
    {
      "description": "Binance Coin",
      "proName": "BINANCE:BNBUSDT"
    },
    {
      "description": "FTX Token",
      "proName": "BINANCE:FTTUSD"
    },
    {
      "description": "Solana",
      "proName": "FTX:SOLUSD"
    },
    {
      "description": "AVAX",
      "proName": "BINANCE:AVAXUSD"
    },
    {
      "description": "S&P500",
      "proName": "FOREXCOM:SPXUSD"
    },
    {
      "description": "Gold",
      "proName": "FOREXCOM:XAUUSD"
    },
    {
      "description": "Crude Oil",
      "proName": "FOREXCOM:WTIUSD"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}</script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container tradingview-ticker-widget-container dark-widget d-none wow fadeInDown" data-wow-delay="0.1s">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>{
  "symbols": [
    {
      "description": "Bitcoin",
      "proName": "BITSTAMP:BTCUSD"
    },
    {
      "description": "Ethereum",
      "proName": "BITSTAMP:ETHUSD"
    },
    {
      "description": "ApeCoin",
      "proName": "BINANCE:APEUSDT"
    },
    {
      "description": "Binance Coin",
      "proName": "BINANCE:BNBUSDT"
    },
    {
      "description": "FTX Token",
      "proName": "BINANCE:FTTUSD"
    },
    {
      "description": "Solana",
      "proName": "FTX:SOLUSD"
    },
    {
      "description": "AVAX",
      "proName": "BINANCE:AVAXUSD"
    },
    {
      "description": "S&P500",
      "proName": "FOREXCOM:SPXUSD"
    },
    {
      "description": "Gold",
      "proName": "FOREXCOM:XAUUSD"
    },
    {
      "description": "Crude Oil",
      "proName": "FOREXCOM:WTIUSD"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}</script>
</div>
<!-- TradingView Widget END -->
