@model PaperStreetSoap.Views.Admin.Videos.IndexModel

@{
    ViewData["Title"] = "Videos | Admin";
    Layout = "/Views/Admin/Shared/_Layout.cshtml";
}

<!-- Packages Container -->
<div class="container px-0">
    <div class="row g-4 mb-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addVideoModal">
                Add Video
            </button>
        </div>

    </div>
    <div class="row g-4">
        @if (Model.Videos != null && Model.Videos.Any())
        {
            <div class="table-responsive">
                <!-- Videos Table Start -->
                <table id="videos-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">
                                Title
                            </th>
                            <th class="th-sm min-phone-l">
                                Summary
                            </th>
                            <th class="th-sm min-phone-l">
                                Url
                            </th>
                            <th class="th-sm">
                                Date
                            </th>
                            <th class="th-sm no-sort">
                            </th>
                            <th class="th-sm no-sort">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var videoModel in Model.Videos)
                            {
                                <tr>
                                    <td>@videoModel.Title</td>
                                    <td class="min-phone-l">@Html.Raw(videoModel.Details)</td>
                                    <td class="min-phone-l">@videoModel.VideoUrl</td>
                                    <td>@videoModel.Date.ToLongDateString()</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@($"editVideo{videoModel.Id}Modal")">
                                            Edit
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@($"deleteVideo{videoModel.Id}Modal")">
                                            Delete
                                        </button>
                                    </td>
                                </tr>

                                await Html.RenderPartialAsync("/Views/Admin/Partials/_DeleteRecordFormPartial.cshtml", new PaperStreetSoap.Views.Admin.Partials.DeleteRecordFormModel("Video", "DeleteVideo", videoModel.Id));
                                await Html.RenderPartialAsync("/Views/Admin/Partials/_EditVideoFormPartial.cshtml", new PaperStreetSoap.Views.Admin.Partials.EditVideoFormModel(videoModel.Id, videoModel.VideoUrl, videoModel.Title, videoModel.Details, videoModel.MarketReview, videoModel.Resources, videoModel.MembersEducation, videoModel.TodaysReview, videoModel.FreeGmBitcoin, videoModel.FreeEducation));
                            }
                        }
                    </tbody>
                </table>
                <!-- Videos Table End -->
            </div>
        }
    </div>
</div>
<!-- Packages Container End -->
<!-- Add Package Modal -->
<div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="addVideoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aaddVideoModalLabel">Add Video</h5>
                <button type="button" class="btn-primary btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @{
                await Html.RenderPartialAsync("/Views/Admin/Partials/_AddVideoFormPartial.cshtml", Model.Video);
            }
        </div>
    </div>
</div>
<!-- Add Package Modal End -->

@section Styles {
    @{
        await Html.RenderPartialAsync("/Views/Shared/_DataTablesStyles.cshtml");
    }
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("/Views/Shared/_DataTablesScripts.cshtml");
    }
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script type="text/javascript">$(document).ready(function () {
            $('#videos-table').DataTable({
                order: [[3, 'desc']],
                columnDefs: [
                    { targets: 'no-sort', orderable: false },
                    { type: "date", targets: 3 }
                ],
                responsive: true
            });
            $('.dataTables_length').addClass('bs-select');

            $('.textarea-editor').summernote({
                popover: {
                    image: [],
                    link: [],
                    air: []
                },
                height: 200, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: true,
                colors: [
                    ['#000000', '#ED85C7', '#fff'] //second line of colors
                ],
                toolbar: [
                    ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['link', 'picture', 'hr', 'codeview']]
                ],
                styleTags: ['p', 'h2', 'h3', 'h4', 'h5']
            });

            $('.textarea-editor').on('summernote.paste', function (e, ne) {
                //get the text
                let inputText = ((ne.originalEvent || ne).clipboardData || window.clipboardData).getData('Text');
                // block default behavior
                ne.preventDefault();
                //modify paste text as plain text
                let modifiedText = inputText.replace(/\r?\n/g, '<br>');
                //put it back in editor
                document.execCommand('insertHtml', false, modifiedText);
            })
        });</script>
}
